@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>

    <script>

        /*
        * Do not use this is a google analytics fro Metro UI CSS
        * */
        if (window.location.hostname !== 'localhost') {

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58849249-3', 'auto');
            ga('send', 'pageview');

        }


        $(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/BigInt.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Barrett.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/RSA.js")"></script>
</head>
<body class="bg-dark">
    <div class="login-form padding20 block-shadow">
        <form data-role="validator" method="post" action="@Url.Action("LoginAction")">
            <h2 class="text-light">职员登陆</h2>
            <hr class="thin" />
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">邮 箱:</label>
                <input type="text" data-validate-func="email" data-validate-hint="请输入邮箱地址" name="user_login" id="user_login">
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="user_password">密 码:</label>
                <input type="password" data-validate-func="minlength" data-validate-arg="6" data-validate-hint="密码至少为6位"  name="user_password" id="user_password">
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit"  class="button success  primary" >登 陆</button>
                <button type="button" class="button link" onclick="document.location.href=$('#cancel').attr('href')">取 消</button>
                <a id="cancel" href="." style="display:none"></a>
            </div>
        </form>
    </div>
</body>